# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.class

# Virtual environments
.venv/
env/
venv/
ENV/

# Database files
core/payments.db
*.db
*.sqlite3

# Logs & temporary files
*.log
*.tmp
scratch/

# Archives & OS files
*.zip
*.tar.gz
.DS_Store
Thumbs.db

# Sensitive local configs
core/config.json
core/users.json
core/access_codes.json
users.json
access_codes.json
.bot.pid
NGROK SAFA/
cloudflared.exe
cloudflare_token.txt
.cloudflared/
